*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: flex;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  min-height: 100vh;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
}
input {
  outline: none;
  border: none;
}
